<!DOCTYPE html>
<html>
  <head>
    <title>RMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p> <%= link_to 'Restaurants', restaurants_path %> <%= link_to 'Pizzas', pizzas_path %></p> 
    <%= yield %>
  </body>
</html>
